.heading {
  font-size: 4rem;
  text-align: center;
  align-items: center;
  width:40%;
  margin: auto;
  position: absolute;
  top: 30%;

}
.content {
    background: red;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media only screen and(max-width:400px) {
  .responsiveImageContent{
    margin-top: 8rem;
  }
}
